.carousel {
  /* position: relative; */
  margin: auto;
  overflow: hidden;
  
}

.slides {
  display: flex;
}

.slide {
  flex: 0 0 100%;
}

img {
  width: 30%;
  height: auto;
}

.prev,
.next {
  /* position: absolute; */
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
