<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/fontawesome-free-6.5.1-web/all.css">

    <link rel="stylesheet" href="../style/all.css">
    <link rel="stylesheet" href="../style/topAppMenu.css">
    <link rel="stylesheet" href="../style/img.css">
    <link rel="stylesheet" href="../style/buttons.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>

    <style>
        .card{
            display: inline-block;
            margin: 3rem;
        }
    </style>

</head>

<body>

    <header class="navbar bg-success text-light p-4">

        <h1>
            <img src="../public/twemoji/1f4aa.png" alt="emoji de cara feliz" width="50" height="50">
            Actividades
        </h1>

    </header> 

    <main>
        <!-- <script src="../components/menuLengua.js"></script> -->
        <!-- <script>

            let lengua = "nahuatl";

            let linkCultura ="nahuatl/cultura.html";

            let linkIndicaciones ="nahuatl/indicaciones.html";
            let linkColores = "nahuatl/colores.html";
            let linkNumeros = "nahuatl/numeros.html";
            let linkPronombres = "nahuatl/pronombres.html";

        </script> -->
        <center>

            <div class="card w-25 inline">
                <img class="card-img-top" src="../img/book.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hora del cuento</h5>
                    <p class="card-text">¡Aprendamos con historias divertidas!</p>
                    <a href="cuento.html" class="btn btn-primary">Vamos</a>
                </div>
            </div>
    
            <div class="card w-25 inline">
                <img class="card-img-top" src="../img/question.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Preguntas rapidas</h5>
                    <p class="card-text">¡Pongamos a prueba tus conocimientos y velocidad!</p>
                    <a href="nahuatl/actividad.html" class="btn btn-primary">Vamos</a>
                </div>
            </div>
    
        </center>
        
    </main>


    <script src="../public/fontawesome-free-6.5.1-web/all.js"></script>

</body>

</html>