<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/fontawesome-free-6.5.1-web/all.css">

    <link rel="stylesheet" href="../style/all.css">
    <link rel="stylesheet" href="../style/topAppMenu.css">
    <link rel="stylesheet" href="../style/img.css">
    <link rel="stylesheet" href="../style/buttons.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>

    <style>
        .card {
            display: inline-block;
            margin: 3rem;
            width: 70%;
            font-size: 1.5rem;
        }
    </style>

</head>

<body>

    <header class="navbar bg-success text-light p-4">

        <h1>
            <img src="../public/twemoji/1f4da.png" alt="emoji de cara feliz" width="50" height="50">
            Hora del cuento
        </h1>

    </header>

    <main>

        <center>

            <div class="card">
                <img class="card-img-top" src="../img/murcielago.png">
                <div class="row">
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title h1">El murciélago presumido.</h5>
                            <p class="card-text text-justify">
                                Años atrás, vivía cerca de Oaxaca un murciélago que soñaba con tener plumas para
                                embellecer. Así
                                que un día se fue a ver al dios Tótec para que le ayudara a cumplir su sueño; pero este
                                le dijo:

                                «Si vuelves a la tierra, cada ave te regalará una pluma».

                                La paloma le dio la pluma blanca; el flamenco, la rosa; y así hasta completar la paleta
                                de
                                colores y texturas del arco iris.

                                Pasaron los días y el murciélago se volvió presumido y se burlaba de las otras aves. Por
                                esto,
                                Tótec hizo que su plumaje se cayera al suelo en pleno vuelo. Después de esta lluvia de
                                plumas,
                                el animal se retiró en una cueva fría y oscura. Y ahora tan solo vuela, avergonzado, por
                                las
                                noches.
                            </p>

                        </div>
                    </div>

                    <div class="col">
                        <div class="card-body bg-warning">
                            <h5 class="card-title h1">Chachalhuacatl tlapopoca.</h5>
                            <p class="card-text">
                                Huiptla xihuitl, mochiuhqueh ichan Oaxaca ce chachalhuacatl yolic, yehhuatl iccahuaya
                                tlahtlaniz
                                tlapalhuilia ic xochitl. Ye achto tonalli, yawi ic tlahtlaniz Tótec teotl, ic amoquiz ic
                                nechihuiliz ic nelli yoliliz; zan yehuatl quiitlazo: «Ticchihuiliz mochipa tonacayotl,
                                zan
                                occepa tlalticpac cehhuan totomeh ticmahuizqueh ce cueyactli».

                                Ihquiyoc, xiuhtototl quiittac ce cueyactli xoxoctic; azcatl quiittac ce cueyactli
                                tlaapalctic;
                                ihuan cehhuan totomeh quiittacqueh cueyactli, mopopolhuiz tlapalli ihuan caxapoctli in
                                atlacolxochitl.

                                Tlahuel chicome tonalli yahqui, ihuan chachalhuacatl mopopoca, tlacececcayotia cehhuan
                                totomeh.
                                Zan yehuatl Tótec teotl quitlahcuilia in iuhquiyoc cueyactli ic tlalticpac.

                                Tlapetzcayotl in cueyactli occepa tlalticpac, chachalhuacatl quihualmocahua ce tochtli
                                ichan
                                tlahtoc. Ahmozazan zan tlahcuiloliz, zan huel tlachihualiz in tonalli, mocuepa.
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </center>

    </main>


    <script src="../public/fontawesome-free-6.5.1-web/all.js"></script>

</body>

</html>