<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Raices Educativas</title>

    <!-- CSS Style -->
    <link rel="stylesheet" href="../style/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>

</head>

<body>

    <header class="navbar bg-success text-light p-4">

        <h1>
            <img src="../public/twemoji/1f6d6.png" alt="emoji de cara feliz" width="50" height="50">
            Inicio | Raices Educativas
        </h1>

        <h2 class="text-decoration-none">
            <a href="../index.html" class="text-light">Salir</a>
        </h2>

    </header>

    <section style="margin: 5%;">

        <div class="row">

            <div class="col w-max">

                <div class="card">

                    <img class="card-img-top" src="../img/actividades.webp" alt="Card image cap">

                    <div class="card-body">

                        <center>
                            <h5 class="card-title h2">Actividades</h5>
                        </center>

                        <p class="card-text h5 p-3">
                            ¿Qué idiomas hablan en casa? ¿Conoces a alguien que hable un idioma diferente al español?
                        </p>

                        <center>
                            <a href="actividades.html" class="btn btn-primary h5">¡Vamos!</a>
                        </center>

                    </div>
                </div>

            </div>

            <div class="col">

                <div class="card">

                    <img class="card-img-top" src="../img/lecciones.webp" alt="Card image cap">

                    <div class="card-body">

                        <center>
                            <h5 class="card-title h2">Lecciones</h5>
                        </center>

                        <p class="card-text h5 p-3">
                            Las palabras también pueden significar cosas diferentes y
                            usarse de maneras distintas según el lugar en donde vivamos.
                            ¡Veamos algunos ejemplos!
                        </p>

                        <center>
                            <a href="lecciones.html" class="btn btn-primary">¡Vamos!</a>
                        </center>

                    </div>
                </div>

            </div>

            <div class="col">

                <div class="card">

                    <img class="card-img-top" src="../img/juegos.webp" alt="Card image cap">

                    <div class="card-body">

                        <center>
                            <h5 class="card-title h2">Juegos</h5>
                        </center>

                        <p class="card-text h5 p-3">
                            Jugar tambien es una forma de aprender.
                            Repasemos lo aprendido con divirtiendonos!
                        </p>

                        <center>
                            <a href="juegos.html" class="btn btn-primary">¡Vamos!</a>
                        </center>

                    </div>

                </div>

            </div>

        </div>

    </section style="margin: 5%;">

</body>

</html>