<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soy Maestro</title>

    <!-- CSS Style -->
    <link rel="stylesheet" href="../style/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>

    <style>
        .card{
            display: inline-block;
            margin: 3rem;
        }
    </style>

</head>

<body>

    <header class="navbar bg-success text-light p-4">

        <h1>
            <img src="../public/twemoji/1f3ae.png" alt="emoji de cara feliz" width="50" height="50">
            Juegos
        </h1>

    </header>
    <br><br><br>

    <center>

        <div class="card w-25 inline">
            <img class="card-img-top" src="../img/alphabet.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Sopa de letras</h5>
                <p class="card-text">¡Encontremos palabras!</p>
                <a href="sopa_letras.html" class="btn btn-primary">Vamos</a>
            </div>
        </div>

        <div class="card w-25 inline">
            <img class="card-img-top" src="../img/rompecabezas.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rompecabezas</h5>
                <p class="card-text">Encontremos imagenes</p>
                <a href="rompecabezas.html" class="btn btn-primary">Vamos</a>
            </div>
        </div>

    </center>


</body>

</html>