<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/fontawesome-free-6.5.1-web/all.css">

    <link rel="stylesheet" href="../style/all.css">
    <link rel="stylesheet" href="../style/topAppMenu.css">
    <link rel="stylesheet" href="../style/img.css">
    <link rel="stylesheet" href="../style/buttons.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>

</head>

<body>

    <header class="navbar bg-success text-light p-4">

        <h1>
            <img src="../public/twemoji/1f5d2.png" alt="emoji de cara feliz" width="50" height="50">
            Lecciones
        </h1>

    </header>   

    </header>

    <main>
        <!-- <script src="../components/menuLengua.js"></script> -->
        <script>

            let lengua = "nahuatl";

            let linkCultura ="nahuatl/cultura.html";

            let linkIndicaciones ="nahuatl/indicaciones.html";
            let linkColores = "nahuatl/colores.html";
            let linkNumeros = "nahuatl/numeros.html";
            let linkPronombres = "nahuatl/pronombres.html";

        </script>

        <script src="../components/menuLengua.js"></script>
        <script src="../scripts/animacionBtns.js"></script>
        
        <center>
            <!-- <a href="nahuatl/actividad.html">
                <img src="../img/botones/actividades.webp" class="btnCategoria">
            </a> -->
        </center>
        
    </main>


    <script src="../public/fontawesome-free-6.5.1-web/all.js"></script>

</body>

</html>