<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meastros | Panel</title>

    <!-- CSS Style -->
    <link rel="stylesheet" href="../style/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>

</head>

<body>

    <header class="navbar bg-success text-light p-4">

        <h1>
            <img src="../public/twemoji/1f39b.png" alt="emoji de cara feliz" width="50" height="50">
            Panel de control | Maestros
        </h1>

    </header>
    <center>
        <section class="bg-light p-4">

            <a href="" class="m-4 p-3 h2 text-decoration-none w-25">
                <img src="/public/twemoji/1f50e.png" alt="emoji de cara feliz" width="40" height="40">
                Ver alumnos
            </a>

            <a href="" class="m-4 p-3 h2 text-decoration-none w-25">
                <img src="/public/twemoji/2795.png" alt="emoji de cara feliz" width="40" height="40">
                Nuevo alumno
            </a>

            <a href="" class="m-4 p-3 h2 text-decoration-none w-25">
                <img src="/public/twemoji/1f5d1.png" alt="emoji de cara feliz" width="40" height="40">
                Eliminar alumno
            </a>

            <a href="" class="m-4 p-3 h2 text-decoration-none w-25">
                <img src="/public/twemoji/1f5d2.png" alt="emoji de cara feliz" width="40" height="40">
                Avance alumno
            </a>

        </section>
    </center>

</body>

</html>