<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soy Maestro</title>

    <!-- CSS Style -->
    <link rel="stylesheet" href="../style/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>

</head>

<body>

    <header class="navbar bg-success text-light p-4">

        <h1>
            <img src="../public/twemoji/1f4d4.png" alt="emoji de cara feliz" width="50" height="50">
            Soy Maestro
        </h1>

    </header>

    <main>

        <div class="card m-4 w-50 border-dark">

            <center>
                <div class="card-header h2 p-4 bg-success text-light">
                    Iniciar Sesion
                </div>
            </center>

            <form action="">

                <div class="m-4 row">

                    <div class="col">

                        <img src="/public/twemoji/1f468-200d-1f3eb.png" alt="emoji de cara feliz" width="40"
                            height="40">
                        <label for="" class="h3"> Usuario</label>

                    </div>

                    <div class="col">

                        <input type="text" class="h3">

                    </div>

                </div>

                <div class="m-4 row">

                    <div class="col">

                        <img src="/public/twemoji/1f511.png" alt="emoji de cara feliz" width="40" height="40">
                        <label for="" class="h3"> Contraseña</label>

                    </div>

                    <div class="col">

                        <input type="password" class="h3">

                    </div>

                </div>

                <center>
                    <a href="maestros.dash.html" class="h2 display-1 text-light btn btn-primary m-4 p-3 w-25">Entrar</a>
                    <!-- <input type="submit" value="Entrar" class="h2 display-1 text-light btn btn-primary m-4 p-3 w-25"> -->
                </center>

                <center>
                    <div class="card-footer text-muted p-4 bg-light">

                        <img src="/public/twemoji/2753.png" alt="emoji de cara feliz" width="32" height="32">
                        <a href="views/preguntas.frecuentes.html" class="text-black">Preguntas frecuentes</a>

                    </div>
                </center>

            </form>
        </div>

    </main>

</body>

</html>