<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../public/fontawesome-free-6.5.1-web/all.css">

    <link rel="stylesheet" href="../../style/bottomNavBar.css">
    <link rel="stylesheet" href="../../style/all.css">
    <link rel="stylesheet" href="../../style/topAppMenu.css">
    <link rel="stylesheet" href="../../style/img.css">
    <link rel="stylesheet" href="../../style/buttons.css">
    <link rel="stylesheet" href="../../style/cultura.css">

</head>

<body>

    <header>
        
        <script>
            let visible = false;
            let titulo = "Cultura Nahuatl";
        </script>
        <script src="../../components/AppMenu.js"></script>

    </header>

    <main>
        <script>

            //Tarjeta Gastronomia
            let tituloTarjeta1 = "Gastronomia Náhuatl"
            let linImagen1 = "../../img/cultura/huaxmole.webp"
            let tituloInfoTarjeta1 = "Platillos tipico náhuatl"
            let linImagenModal1 = "../../img/cultura/nahuatl/comidaEj.webp"
            let info1 = "Algunos de los platillos que podemos encontrar en la mencionada publicación son: tlemole (mole de olla), yexotl iga laurel ( ejote con laurel), guaxmole (mole de guaje), istaknanagatl (hongo blanco), salsa de hongos azules, huevos con masa sobre comal, pipian, cueclas, huazontle, gusanos de capulín, tepache,"

            //Tarjeta Vestimenta
            let tituloTarjeta2 = "Vestimenta Náhuatl"
            let linImagen2 = "../../img/cultura/nahuatl/vestimenta.webp"
            let tituloInfoTarjeta2 = "Atuendo tipico náhuatl"
            let linImagenModal2 = "../../img/cultura/nahuatl/vestimentaEj.webp"
            let info2 = "El atuendo tradicional de un hombre se compone de camisa y calzón de manta, además de gabán de lana en la zona norte, sombrero y huaraches. Las mujeres de Hueyapan, usan chincuetes, fajas y rebozos de lana, blusas plisadas de satín o de algodón e ixcacles."

            //Tarjeta tradiciones
            let tituloTarjeta3 = "Tradiciones Náhuatl"
            let linImagen3 = "../../img/cultura/nahuatl/diaMuertos.webp"
            let tituloInfoTarjeta3 = "Festividades náhuatl"
            let linImagenModal3 = "../../img/cultura/nahuatl/tradicionesEj.webp"
            let info3 = "Se celebran otras festividades de gran importancia, como el pedimento de lluvias en mayo, Santa Rosa en agosto, el tlamanes u “ofrecimiento de las semillas” en septiembre, además de la Navidad o solsticio de invierno y Año Nuevo."

        </script>

        <script src="../../components/infoGastronomia.js"></script>
        <script src="../../components/infoVestimenta.js"></script>
        <script src="../../components/infoTradiciones.js"></script>

    </main>
 
</body>

</html>